<html>
{% include "header2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<br>
<h1 class="title is 1 has-text-centered">Login</h1>
<div class="container">
  <div class="row align-items-center">
    <form method="POST" action="/login">
    {% for message in get_flashed_messages() %}
      <div class="error">
        <h5> {{ message }} </h5>
      </div>
    {% endfor %}
    {{ form.hidden_tag() }}

    <div>
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    </div>
    <div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
</body>
{% include "footer.html" %}
</html>
    



 
