<html>

{% include "header2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
  <div class="row align-items-center">
  <form method="POST" action="/signup">
    {% for message in get_flashed_messages() %}
    <div class="success">
      <h5> {{ message }} </h5>
    </div>
    {% endfor %}
    {{ form.hidden_tag() }}
    <div>
      {{ wtf.form_field(form.first_name) }}
      {{ wtf.form_field(form.last_name) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.password) }}
    </div>
    <div>
      <br>
      <h6>Gender</h6>
      {{ wtf.form_field(form.gender) }}
    </div>
    
    <div>
      <br>
      <h6>Payment Method</h6>
      {{ wtf.form_field(form.payment_method) }}
    </div>
  </div>
  <br>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
{% include "footer.html" %}

</html>