<html>
{% include "header1.html" %}
{% block content %}
<div class="tablebg">
<table class="table table-light table-striped", style="width:500px">
    <tr>
        <th scope="col">Class Code</th>
        <th scope="col">Class Name</th>
        <th scope="col">Intructor</th>
        <th scope="col">Class Time</th>
        <th scope="col">Slots Available</th>
        <th scope="col">Price</th>
    </tr>
    {% for class in classes %}
    <tr>
        <td>{{ class.class_code}}</td>
        <td>{{ class.class_name}}</td>
        <td>{{ class.instructor}}</td>
        <td>{{ class.class_time}}</td>
        <td>{{ class.slots_available}}</td>
        <td>{{ class.price}}</td>
        <td>
            <a href="/enlistclass?code={{ class.class_code }}">Enlist in Class</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% include "footer.html" %}
{% endblock %}

</html>