<html>
{% include "header1.html" %}
{% block content %}
{% for message in get_flashed_messages() %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<div class="error">
    <h5> {{ message }} </h5>
</div>
{% endfor %}
<div class="tablebg">
<table class="table table-light table-striped", style="width:1000px">
    <tr>
        <th scope="col">Class Code</th>
        <th scope="col">Class Name</th>
        <th scope="col">Intructor</th>
        <th scope="col">Class Time</th>
    </tr>
    {% for class in enrolled_classes %}
    <tr>
        <td>{{ class.class_code }}</td>
        <td>{{ class.class_name }}</td>
        <td>{{ class.instructor }}</td>
        <td>{{ class.class_time }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="total">
     Total Payment Due: {{ payment_total }}
</div>
{% include "footer.html" %}
{% endblock %}

</html>